# MongoDB Configuration
MONGO_URL="mongodb://localhost:27017"
DB_NAME="gjc_database"

# CORS Configuration
CORS_ORIGINS="https://www.gjc.ro,https://gjc.ro"

# SMTP Configuration for email sending
SMTP_HOST=mail.gjc.ro
SMTP_PORT=465
SMTP_USER=office@gjc.ro
SMTP_PASS=YOUR_SMTP_PASSWORD_HERE
ADMIN_EMAIL=office@gjc.ro
